.loginPage {
  background: url("images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("images/bg.jpg"); */
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
}

.loginForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: white;
}

.user_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userImg {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

/* .tableHeaderPosition {
  position: fixed;
} */

/* .ticketWidth {
  width: 600px;
} */

.dropdownSelect {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* .riseTicketForm {
  background-color: midnightblue;
} */
